.header {
  background: linear-gradient(rgb(213, 207, 207), #fcc3c3);
  margin-bottom: 70px;
}

.products-section {
  max-width: 80%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.title {

  text-align: center;
  margin: 0px 40px;
  position: relative;
  line-height: 60px;
  color: #a71d1d; 
}

.title::after {
  content: "";
  background: #555;
  width: 80px;
}

.products-row-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
}